    <script src="/assets/js/lib/jquery.min.js"></script>
    <script src="/assets/js/lib/bootstrap.js"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    </body>
</html>