<% include partials/header %>
<div class="container">
<% if(!needinput){ %>

    <% if(error){ %>
        <%=error%>
    <% } else { %>

        <b><%=success%></b>

    <% } %>

<% } else { %>

    <script>
    function redirect(){
        window.location.href="/confirm/"+document.getElementById("key").value;
        return false;
    }

    </script>
    
        <label>Enter your confirmation key:</label><br>
        <input type="text" id="key" class="form-control"/><br>
        <button onclick="redirect()" class="btn btn-primary">Confirm</button>
    
<% } %>
</div>