<% include partials/header %>

<link rel="stylesheet" href="/assets/css/style2.css">
<script src="/assets/js/dashboard.js"></script>

<div class="navbar navbar-default visible-xs">
  <div class="container-fluid">
    <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
      <i class="fa fa-tasks"></i> Toggle Sidebar
    </button>
  </div>
</div>

<div class="container-fluid">

  <div class="row">

    <!-- filter sidebar -->
    <div id="filter-sidebar" class="col-xs-6 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar">

      <div>
        <h4 data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Categories
        </h4>

        <div id="group-1" class="list-group collapse in">
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
        </div>
      </div>
    </div>

    <!-- table container -->
    <div class="col-sm-9">
        <input type="text" class="form-control" placeholder="Search" id="search_bar"/><br>
        <div class="row text-center shown-university">

            <% universities.forEach(function(u){ %>
                <div class="col-sm-6"> 
                    <div class="thumbnail">
                        <img src="<%=u.image%>">
                        <div class="caption">
                            <h4><%=u.name%></h4>
                        </div>
                        <p>
                            <a class="btn btn-primary" href="/university/<%=u.name%>" >View more info</a>
                        </p>   
                    </div>
                </div>
            <% }) %>
            
        </div>
    </div>

  </div>
</div>


<script>
  $('#search_bar').autocomplete({
      source: "/api/university",
      select: function (event, ui) {
          window.location = ui.item.url;
      }
  });
</script>
<% include partials/footer %>