<% include partials/header %>

<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.css' />
<link rel="stylesheet" href="/assets/css/style3.css">

<div class="container">
    <div class="jumbotron">
        <h1>Nume Curs</h1>
        <h4>Profesor</h4>
        <p>Descrierea va veni aici</p>


        <button class="btn btn-primary">Inscrie-te/Anuleaza inscrierea</button>
        <button class="btn btn-warning">Modifica</button>
        <button class="btn btn-danger">Sterge</button>
     </div>
    
</div>

<% include partials/footer %>