<% include partials/header %>

    <form>
        <div class="form-group">
            <label for="input-username">Username:</label>
            <input type="text" id="input-username" class="form-control" placeholder="Username...">
        </div>
        <div class="form-group">
            <label for="input-password">Username:</label>
            <input type="password" id="input-username" class="form-control" placeholder="Password...">
        </div>
        <button type="submit" class="btn btn-default">Login</button>
    </form>

<% include partials/footer %>