<% include partials/header %>

<link rel="stylesheet" href="/assets/css/style2.css">
<script src="/assets/js/dashboard.js"></script>

<div class="navbar navbar-default visible-xs">
  <div class="container-fluid">
    <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#filter-sidebar">
      <i class="fa fa-tasks"></i> Toggle Sidebar
    </button>
  </div>
</div>

<div class="container-fluid">

  <div class="row">

    <!-- filter sidebar -->
    <div id="filter-sidebar" class="col-xs-6 col-sm-3 visible-sm visible-md visible-lg collapse sliding-sidebar">

      <div>
        <h4 data-toggle="collapse" data-target="#group-1">
          <i class="fa fa-fw fa-caret-down parent-expanded"></i>
          <i class="fa fa-fw fa-caret-right parent-collapsed"></i>
          Categories
        </h4>

        <div id="group-1" class="list-group collapse in">
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
          <a class="list-group-item" href="#">
            <label class="btn btn-primary btn-block">Informatica <input type="checkbox"></label>
          </a>
        </div>
      </div>
    </div>

    <!-- table container -->
    <div class="col-sm-9">
        <div class="row text-center shown-university">
            <div class="col-sm-6"> 
                <div class="thumbnail">
                    <img src=" https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/b_AllSoulsquad.jpg?itok=N1GzQbrQ ">
                    <div class="caption">
                        <h4> Nume </h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/" >Mai multe informatii</a>
                    </p>   
                </div>
            </div>

            <div class="col-sm-6"> 
                <div class="thumbnail">
                    <img src=" https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/b_AllSoulsquad.jpg?itok=N1GzQbrQ ">
                    <div class="caption">
                        <h4> Nume </h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/" >Mai multe informatii</a>
                    </p>   
                </div>
            </div>

            <div class="col-sm-6"> 
                <div class="thumbnail">
                    <img src=" http://www.gla.ac.uk/media/media_328640_en.jpg ">
                    <div class="caption">
                        <h4> Nume </h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/" >Mai multe informatii</a>
                    </p>   
                </div>
            </div>

            <div class="col-sm-6"> 
                <div class="thumbnail">
                    <img src=" https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/b_AllSoulsquad.jpg?itok=N1GzQbrQ ">
                    <div class="caption">
                        <h4> Nume </h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/" >Mai multe informatii</a>
                    </p>   
                </div>
            </div>

            <div class="col-sm-6"> 
                <div class="thumbnail">
                    <img src=" https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/b_AllSoulsquad.jpg?itok=N1GzQbrQ ">
                    <div class="caption">
                        <h4> Nume </h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/" >Mai multe informatii</a>
                    </p>   
                </div>
            </div>

            <div class="col-sm-6"> 
                <div class="thumbnail">
                    <img src=" https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/b_AllSoulsquad.jpg?itok=N1GzQbrQ ">
                    <div class="caption">
                        <h4> Nume </h4>
                    </div>
                    <p>
                        <a class="btn btn-primary" href="/" >Mai multe informatii</a>
                    </p>   
                </div>
            </div>
            
        </div>
    </div>

  </div>
</div>

<% include partials/footer %>