<% include partials/header %>

<div class="container">
    <div class="jumbotron">

        <h1><%=university.name%></h1>
        <div class="row">

            <div class="col-md-6"><img style="width: 100%" class="thumbnail" src="<%=university.image%>" ></div>
            <div class="col-md-6"><%=university.description%></div>

        </div>
        <a class="btn btn-success" href="/course/add">Adauga curs nou</a>
        <a href="/classes/<%= university.name %>"></a>
     </div>
    
</div>
<% include partials/footer %>