<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <h1>Cambridge university</h1>
        <div class="row">
            <div class="col-md-6"><img src="https://www.ox.ac.uk/sites/files/oxford/styles/ow_large_feature/public/field/field_image_main/b_AllSoulsquad.jpg?itok=N1GzQbrQ" class="thumbnail"></div>
            <div class="col-md-6">Descriere foarte siropoasa</div>
        </div>
        <a href="/">Adauga curs nou</a>
        <p>Aici lista cursuri</p>
     </div>
    
</div>
<% include partials/footer %>